# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Log files
*.log

# Mac / Linux system files
.DS_Store
*.swp

# Capture files
captures/

# Keystore files (agar tu sign karega app ko)
*.jks
*.keystore

